:root {
    --animation-duration: 0.2s;
}

@keyframes fade-in {
  from { opacity: 0; display: none; }
  to { opacity: 1; display: flex; }
}

@keyframes fade-out {
  from { opacity: 1; display: flex; }
  to { opacity: 0; display: none; }
}

.fade-in {
  animation: fade-in var(--animation-duration) ease-in forwards;
}

.fade-out {
  animation: fade-out var(--animation-duration) ease-out forwards;
}

.icon-dark {
    filter: brightness(0.3);
}

@keyframes spin-open {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}
@keyframes spin-close {
  0% { transform: rotate(180deg); }
  100% { transform: rotate(0deg); }
}

.spin-open {
  animation: spin-open var(--animation-duration) cubic-bezier(0.4,0,0.2,1) forwards;
}

.spin-close {
  animation: spin-close var(--animation-duration) cubic-bezier(0.4,0,0.2,1) forwards;
}
